@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 44, 24, 16;
  --background-start-rgb: 255, 248, 240;
  --background-end-rgb: 255, 249, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
} 